<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inicio-container">
    <div class="box">
      <h1>Bem-vindo ao Taskflow</h1>
      <p>Seja organizado e comece agora</p>

      <img src="../../../assets/icon/logo.png" alt="Logo Taskflow" />

      <ion-button href="/login" expand="block" class="botao-inicio">
          Login
      </ion-button>

      <ion-button href="/cadastro" expand="block" fill="outline" class="botao-inicio">
          Cadastrar
      </ion-button>
    </div>
  </div>
</ion-content>
