<ion-content class="login-page">
  <div class="container">

    <h1>TaskFlow</h1>
    <p>Gerencie suas tarefas</p>

    <ion-item lines="none">
      <ion-input placeholder="Email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-login">
      Entrar
    </ion-button>

    <p class="link">Ainda não possui conta?</p>
    <a class="link" href="/cadastro">Criar conta</a>

  </div>
</ion-content>