<ion-header>
    <div class="logo">
      <ion-icon name="checkbox-outline" src="../../../assets/icon/icon_taskflow.png"></ion-icon>
      <span>TaskFlow</span>
    </div>
    
    <div class="user-actions">
      <span>Usuário</span>
      <button (click)="logout()" href="/inicio">Sair</button>
    </div>
</ion-header>

<ion-content>

  <div class="card">
    <h2>Minhas Tarefas</h2>
    <p>Organize seu dia com eficiência</p>

    <div class="stats">
      <div class="box total">{{total}}<span>TOTAL</span></div>
      <div class="box ativas">{{ativas}}<span>ATIVAS</span></div>
      <div class="box concluidas">{{concluidas}}<span>CONCLUÍDAS</span></div>
    </div>
  </div>

  <div class="card">
    <h3>Filtros</h3>

    <div class="status">
      <button [class.active]="filtro==='todas'" (click)="setFiltro('todas')">Todas</button>
      <button [class.active]="filtro==='ativas'" (click)="setFiltro('ativas')">Ativas</button>
      <button [class.active]="filtro==='concluidas'" (click)="setFiltro('concluidas')">Concluídas</button>
    </div>

    <ion-item>
      <ion-select placeholder="Todas as categorias">
        <ion-select-option>Trabalho</ion-select-option>
        <ion-select-option>Pessoal</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="task" *ngFor="let tarefa of tarefasFiltradas">
    <ion-checkbox [(ngModel)]="tarefa.concluida"></ion-checkbox>

    <div class="info">
      <h4>{{tarefa.titulo}}</h4>
      <p>{{tarefa.descricao}}</p>

      <div class="tags">
        <span class="tag">{{tarefa.categoria}}</span>
        <span class="tag prioridade">{{tarefa.prioridade}}</span>
        <span class="tag data">{{tarefa.data}}</span>
        <span class="tag hora">{{tarefa.hora}}</span>
      </div>
    </div>
  </div>

</ion-content>